@using TM.Infrastructure;
@using System.Threading;
@{
    TMIdentity identity = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrapcss")
        @Styles.Render("~/Content/paginationcss")
        @Styles.Render("~/Content/customcss")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapjs")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/customjs")
        @Scripts.Render("~/bundles/paginationjs")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/uy-style.css" rel="stylesheet" />
    <link href="~/Content/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.js"></script>





</head>
<body>
    <div class="userLoginInfo hidden-xs">
        <ul class="list-inline text-right">
            @{
                try
                {
                    identity = (TMIdentity)Thread.CurrentPrincipal.Identity;
                    if (identity != null)
                    {
                        <li>Company:SOFTWARE GAZE </li>
                        <li>Branch: HEAD OFFICE </li>
                        <li>Login as: @identity.Name</li>
                    }
                    else
                    {
                        HttpContext.Current.Response.Redirect("/Home");
                    }
                }
                catch
                {
                    HttpContext.Current.Response.Redirect("/Home");
                }
            }
        </ul>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top hidden-xs" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Toggle button for mobile -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Brand / Logo -->
                <a class="navbar-brand" href="/Home">
                    <img src="~/images/logo.png" alt="logo" width="150">
                </a>


            </div>


            <div class="navbar-collapse collapse navbar-custom">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span class="noti glyphicon glyphicon-bell" style=" margin-top: 20px; color: white; font-size: large;"><span class="count"> </span></span>

                        <div class="noti-content">
                            <div class="noti-top-arrow"></div>
                            <ul id="notiContent"></ul>
                        </div>
                    </li>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @identity.Name
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Login/ChangePassword"><i class="fa fa-user"></i>Change Password</a></li>
                            <li><a href="/Login/Logout"><i class="fa fa-power-off"></i>Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="topMenu">
        <a href="/Home">
            <img src="~/images/logo.png" alt="logo" width="250">
        </a><a class="topMenulink" href="#"><span><i class="fa fa-bars"></i></span></a>
    </div>

    <div class="navigation">
        <ul id="mobileNav">
            <li class="visible-xs">
                <a href="#"><span class="glyphicon glyphicon-user"></span>@identity.Name<i class="fa fa-angle-right"></i></a>
                <ul class="dropdown">
                    <li><a href="#"><i class="fa fa-bell"></i>notification</a></li>
                    <li><a href="/Login/Logout"><i class="fa fa-power-off"></i>Log Out</a></li>
                </ul>
            </li>
            @{
                if (Session["menu"] != null)
                {
                    var data = Session["menu"] as List<TM.Service.ViewModel.MasterMenuViewModel>;
                    if (data != null)
                    {
                        foreach (var item in data.Where(w => w.ParentId == 0))
                        {
                            if (item.Id == 1)
                            {

                                <li>
                                    <a href="/Home"><i class="fa fa-home"></i>Home</a>

                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="#@item.Name"><span class="glyphicon glyphicon-briefcase"></span> @item.Name</a>
                                    @{
                                        var menulist = data.Where(w => w.ParentId == item.Id).ToList();
                                        if (menulist.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var submenu in menulist)
                                                {
                                                    <li><a href="@submenu.URL"><span class="navbartxtcolor">@submenu.Name</span></a></li>
                                                }
                                            </ul>
                                        }
                                    }
                                </li>

                            }

                        }
                    }
                }
            }
        </ul>

    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="panel-group" id="accordion">
                    @{
                        if (Session["menu"] != null)
                        {
                            var data = Session["menu"] as List<TM.Service.ViewModel.MasterMenuViewModel>;
                            if (data != null)
                            {
                                foreach (var item in data.Where(w => w.ParentId == 0))
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <p class="panel-title">
                                                @if (item.Id == 1)
                                                {
                                                    <a href="/Home"><i class="fa fa-home"></i> Home</a>
                                                }
                                                else
                                                {
                                                    <a data-toggle="collapse" data-parent="#@item.Name" href="#@item.Name">
                                                        <span class="glyphicon glyphicon-briefcase"></span> @item.Name
                                                    </a>
                                                }
                                            </p>
                                        </div>
                                        @{
                                            var menulist = data.Where(w => w.ParentId == item.Id).ToList();

                                            if (menulist.Count > 0)
                                            {

                                                <div id="@item.Name" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            @foreach (var submenu in menulist)
                                                            {
                                                                <li>
                                                                    <a id="@submenu.Id" href="@submenu.URL">
                                                                        <span class="glyphicon glyphicon-usd"></span> @submenu.Name
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            }
                        }
                    }
                </div>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main mainInner">
                @RenderBody()

            </div>
        </div>
    </div>
    @*<div class="notify">
            <div class="notify-close"></div>
            <div class="notify-inner">
                <ul>
                    <li>
                        <div>New Policy Created by <a href="#">01779878433</a>, <a href="#">Khan Zahan</a></div>
                        <a href="#" class="common-btn">APPROVE</a>
                    </li>
                    <li>
                        <div>New Claim by <a href="#">01989723232</a> Approve Need</div>
                        <a href="#" class="common-btn">APPROVE</a>
                    </li>
                    <li>
                        <div>New Policy Created by <a href="#">01779878433</a>, <a href="#">Khan Zahan</a></div>
                    </li>
                </ul>
                <a href="#">Clear All</a>
            </div>
            <div class="notify-overlay"></div>
        </div>*@


    <script>


        $('.topMenulink').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation(); // Prevent all further handlers
            $('.navigation').slideToggle(300);
        });


        $(document).on('click', function (e) {
            if (!$(e.target).closest('.navigation, .topMenulink').length) {
                $('.navigation').slideUp(300);
            }
        });
        $('#mobileNav li a').on('click', function () {
            $(this).next('ul').slideToggle(300);
            $(this).find('i.fa-angle-right').toggleClass('fa-angle-down');
            e.stopPropagation();
        });
        $('#mobileNav li a').on('click', function () {
            $(this).next('ul').slideToggle();
            $(this).find('i').toggleClass('fa fa-angle-right fa fa-angle-down');
        });

        $('#category-tabs li a').on('click', function () {
            $(this).next('ul').slideToggle();
            $(this).find('i').toggleClass('fa fa-angle-right fa fa-angle-down');
        });

        $('.sidebar ul li ul li').on('click', function () {
            $('.sidebar ul li ul li').removeClass("active")
            $(this).addClass("active")
        });

        $('.itemPagination ul li ul li').on('click', function () {
            $('.itemPagination ul li ul li').removeClass("active")
            $(this).addClass("active")
        });

        $('.sidebar ul li a').on('click', function () {
            $(".innerSection:not(.employeeCode)").hide();
            $('#menu_' + $(this).attr('id')).show();
        });

        $('.dropdown li a').on('click', function () {
            $(".menulink").click(function () {
                $(".sidebar").slideToggle(500);
            });
        });

    </script>

    <!-- 1. jQuery first -->
    <!-- jQuery 3.3.1 -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- 2. SignalR client -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!-- 3. Auto-generated hubs script -->
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- 4. Your custom JS -->
    <script src="~/Scripts/main.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/custom-datetime-validate.js"></script>


    @RenderSection("scripts", required: false)

</body>
</html>
