@model TM.Service.ViewModel.UserViewModel
@using UIHtmlHelper;
@{
    ViewBag.Title = "User Create";
}
@using (Ajax.BeginForm("Create", "User", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal" }))
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[id*=UserRoleMasterId]').select2({
                placeholder: "Select an option",
                allowClear: true
            });

        });


    </script>
    <section class="innerSection clearfix">
        <a class="btn btn-primary btn-back" href="/User">back</a>
        <h3>Create User</h3>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.Id)<sup class="orange">*</sup>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Id)
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.FullName)<sup class="orange">*</sup>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.FullName)
                        @Html.ValidationMessageFor(model => model.FullName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.RoleName)<sup class="orange">*</sup>
                    </div>
                    <div class="col-sm-9">
                        @Html.SimpleDropDownFor(model => model.UserRoleMasterId, "/User/GetUserRoleMasterList")
                        @Html.ValidationMessageFor(model => model.UserRoleMasterId)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.Password)<sup class="orange">*</sup>
                    </div>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.Password, new { @type = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(model => model.IsActive)
                    </div>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.IsActive)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default btn-primary">save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


